Repository mtth/git-draft: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, poetry-fix

poetry-lock:
  name: poetry lock
  entry: poetry lock
  language: system
  pass_filenames: false

poetry-fix:
  name: poetry fix
  entry: poetry run poe fix
  language: system
  require_serial: true

fixup! feat: support requesting more information
  docs/git-draft.adoc
Due: none

feat: support requesting more information (#80)
  README.md
  docs/git-draft.adoc
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
  src/git_draft/prompts/.LAYOUTS/docopt.jinja
  src/git_draft/prompts/.MACROS.jinja
  src/git_draft/prompts/add-docstrings.jinja
  src/git_draft/prompts/add-test.jinja
  src/git_draft/prompts/includes/.file-list.jinja
  src/git_draft/queries/add-action.sql
  src/git_draft/queries/add-operation.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-latest-folio-prompt.sql
  src/git_draft/queries/list-folio-prompts.sql
  src/git_draft/store.py
  src/git_draft/toolbox.py
  tests/git_draft/common_test.py
  tests/git_draft/prompt_test.py
Due: poetry-lock, poetry-fix

docs: update manpage
  docs/git-draft.adoc
Due: none

docs: update manpage (#81)
  docs/git-draft.adoc
Due: none

feat: support async bot actions
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-lock, poetry-fix

feat: support async bot actions (#82)
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-lock, poetry-fix

fix: support async entry point
  src/git_draft/__main__.py
Due: poetry-fix

fix: support async entry point (#85)
  src/git_draft/__main__.py
Due: poetry-fix

fix: support git-defined default bot
  src/git_draft/__main__.py
Due: poetry-fix

fix: support git-defined default bot (#86)
  src/git_draft/__main__.py
Due: poetry-fix

feat: add program prompt template variable
  src/git_draft/prompt.py
  src/git_draft/prompts/add-docstrings.jinja
  src/git_draft/prompts/add-test.jinja
Due: poetry-fix

feat: add program prompt template variable (#89)
  src/git_draft/prompt.py
  src/git_draft/prompts/add-docstrings.jinja
  src/git_draft/prompts/add-test.jinja
Due: poetry-fix

deps: bump dependencies
  poetry.lock
Due: poetry-lock

deps: bump dependencies (#90)
  poetry.lock
Due: poetry-lock

refactor: rename feedback classes
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! refactor: rename feedback classes
  src/git_draft/common.py
Due: poetry-fix

refactor: rename feedback classes (#91)
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fix: support submodules in worktree
  src/git_draft/toolbox.py
Due: poetry-fix

fix: support submodules in worktree (#92)
  src/git_draft/toolbox.py
Due: poetry-fix

fix: hide root option
  docs/git-draft.adoc
  src/git_draft/__main__.py
Due: poetry-fix

fix: hide root option (#93)
  docs/git-draft.adoc
  src/git_draft/__main__.py
Due: poetry-fix

docs: omit MCP mention from README
  README.md
Due: none

docs: omit MCP mention from README (#94)
  README.md
Due: none

feat: add tool exposing editable files
  src/git_draft/toolbox.py
Due: poetry-fix

fixup! feat: add tool exposing editable files
  src/git_draft/git.py
  src/git_draft/toolbox.py
  tests/git_draft/toolbox_test.py
Due: poetry-fix

fixup! feat: add tool exposing editable files
  src/git_draft/git.py
  src/git_draft/toolbox.py
Due: poetry-fix

fixup! feat: add tool exposing editable files
  src/git_draft/drafter.py
  src/git_draft/toolbox.py
Due: poetry-fix

feat: add tool exposing editable files (#95)
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/toolbox.py
  tests/git_draft/toolbox_test.py
Due: poetry-fix

feat: remove reason field
  src/git_draft/drafter.py
  src/git_draft/queries/add-operation.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/store.py
  src/git_draft/toolbox.py
Due: poetry-fix

fixup! feat: remove reason field
  src/git_draft/drafter.py
Due: poetry-fix

feat: remove reason field (#96)
  src/git_draft/drafter.py
  src/git_draft/queries/add-operation.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/store.py
  src/git_draft/toolbox.py
Due: poetry-fix

Notes added by 'git notes edit'
  a2971bdf4638c1f425b247e8037534edf669bf70
Due: none

Notes added by 'git notes edit'
  3fbc8a4a2b2c09b4af6ce0bad16ddd7991b16e9a
Due: none

Path conditions:
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  poetry-fix: any of: \.py$
