Repository mtth/git-draft: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, poetry-fix

poetry-lock:
  name: poetry lock
  entry: poetry lock
  language: system
  pass_filenames: false

poetry-fix:
  name: poetry fix
  entry: poetry run poe fix
  language: system
  require_serial: true

feat: restructure CLI options
  docs/git-draft.1.adoc
  src/git_draft/__main__.py
Due: poetry-fix

feat: restructure CLI options (#108)
  docs/git-draft.1.adoc
  src/git_draft/__main__.py
Due: poetry-fix

refactor: simplify list outputs
  docs/git-draft.1.adoc
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
  tests/git_draft/drafter_test.py
  tests/git_draft/prompt_test.py
Due: poetry-lock, poetry-fix

refactor: simplify list outputs (#109)
  docs/git-draft.1.adoc
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
  tests/git_draft/drafter_test.py
  tests/git_draft/prompt_test.py
Due: poetry-lock, poetry-fix

feat: support line output formatting
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
Due: poetry-fix

fixup! b79f67c
  src/git_draft/__main__.py
Due: poetry-fix

feat: support line output formatting (#110)
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
Due: poetry-fix

feat: add bot option flag
  src/git_draft/__main__.py
  src/git_draft/bots/__init__.py
  src/git_draft/common.py
  tests/git_draft/common_test.py
Due: poetry-fix

fixup! f54feb3
  src/git_draft/bots/__init__.py
Due: poetry-fix

fixup! 492fd69
  docs/git-draft.1.adoc
  tests/git_draft/bots/__init___test.py
Due: poetry-fix

fixup! fcc8a8b
  src/git_draft/bots/__init__.py
Due: poetry-fix

fixup! c5a7447
  tests/git_draft/bots/__init___test.py
Due: poetry-fix

feat: add bot option flag (#111)
  docs/git-draft.1.adoc
  src/git_draft/__main__.py
  src/git_draft/bots/__init__.py
  src/git_draft/common.py
  tests/git_draft/bots/__init___test.py
  tests/git_draft/common_test.py
Due: poetry-fix

ci: switch version bump action
  .github/workflows/ci.yaml
Due: none

ci: update version output
  .github/workflows/ci.yaml
Due: none

Path conditions:
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  poetry-fix: any of: \.py$
