Repository mtth/git-draft: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, poetry-fix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry lock
        entry: poetry lock
        language: system
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
      - id: poetry-fix
        name: poetry fix
        entry: poetry run poe fix
        language: system
        require_serial: true
        types: [python]

docs: add docstrings (#55)
  .pre-commit-config.yaml
  pyproject.toml
  src/git_draft/__init__.py
  src/git_draft/__main__.py
  src/git_draft/bots/common.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
  src/git_draft/store.py
  src/git_draft/toolbox.py
Due: poetry-lock, poetry-fix

refactor: enable simplification linter
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/store.py
Due: poetry-lock, poetry-fix

refactor: enable simplification linter (#56)
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/store.py
Due: poetry-lock, poetry-fix

feat: implement accept option
  README.md
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

chore: enable more linting rules
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/editor.py
  src/git_draft/prompt.py
  src/git_draft/store.py
  src/git_draft/toolbox.py
  tests/git_draft/__init__.py
  tests/git_draft/conftest.py
  tests/git_draft/drafter_test.py
Due: poetry-lock, poetry-fix

fixup! chore: enable more linting rules
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/prompt.py
  tests/__init__.py
  tests/git_draft/prompt_test.py
Due: poetry-lock, poetry-fix

fixup! chore: enable more linting rules
  tests/git_draft/prompt_test.py
Due: poetry-fix

build: enable more linting rules (#57)
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/editor.py
  src/git_draft/prompt.py
  src/git_draft/store.py
  src/git_draft/toolbox.py
  tests/__init__.py
  tests/git_draft/__init__.py
  tests/git_draft/conftest.py
  tests/git_draft/drafter_test.py
  tests/git_draft/prompt_test.py
Due: poetry-lock, poetry-fix

feat: simplify finalize options
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

feat: simplify finalize options (#58)
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

feat: simplify finalize options
  README.md
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
Due: poetry-fix

fixup! feat: simplify finalize options
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: simplify finalize options
  README.md
  docs/git-draft.adoc
  src/git_draft/drafter.py
  src/git_draft/queries/add-action.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/list-prompts.sql
Due: poetry-fix

fixup! feat: simplify finalize options
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: simplify finalize options
  src/git_draft/drafter.py
Due: poetry-fix

feat: add accept option (#59)
  README.md
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  src/git_draft/queries/add-action.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/list-prompts.sql
  tests/git_draft/drafter_test.py
Due: poetry-fix

feat: add sync option to finalize
  README.md
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/queries/add-branch.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-branch-by-suffix.sql
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: add sync option to finalize
  src/git_draft/__main__.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: add sync option to finalize
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: add sync option to finalize
  src/git_draft/__main__.py
Due: poetry-fix

feat: add sync option to finalize (#60)
  README.md
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/queries/add-branch.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-branch-by-suffix.sql
  tests/git_draft/drafter_test.py
Due: poetry-fix

feat: add explicit draft type
  README.md
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: add explicit draft type
  docs/git-draft.adoc
Due: none

feat: add explicit draft type (#61)
  README.md
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fix: renumber accept values
  src/git_draft/__main__.py
  src/git_draft/drafter.py
Due: poetry-fix

fix: renumber accept values (#62)
  src/git_draft/__main__.py
  src/git_draft/drafter.py
Due: poetry-fix

feat: support threads bot environment API key
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  tests/git_draft/common_test.py
Due: poetry-fix

feat: support threads bot environment API key (#63)
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  tests/git_draft/common_test.py
Due: poetry-fix

feat: add rename tool
  README.md
  src/git_draft/__main__.py
  src/git_draft/bots/openai.py
  src/git_draft/drafter.py
  src/git_draft/toolbox.py
  tests/git_draft/toolbox_test.py
Due: poetry-fix

feat: add rename tool (#64)
  README.md
  src/git_draft/__main__.py
  src/git_draft/bots/openai.py
  src/git_draft/drafter.py
  src/git_draft/toolbox.py
  tests/git_draft/toolbox_test.py
Due: poetry-fix

fix: raise on placeholder prompt
  src/git_draft/__main__.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fix: raise on placeholder prompt (#65)
  src/git_draft/__main__.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

refactor: omit gitpython dependency
  README.md
  docs/git-draft.adoc
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/toolbox.py
  tests/git_draft/conftest.py
  tests/git_draft/drafter_test.py
  tests/git_draft/toolbox_test.py
Due: poetry-lock, poetry-fix

fixup! refactor: omit gitpython dependency
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/toolbox.py
  tests/git_draft/conftest.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! refactor: omit gitpython dependency
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/toolbox.py
  tests/git_draft/drafter_test.py
  tests/git_draft/toolbox_test.py
Due: poetry-fix

feat: require sync (#66)
  README.md
  docs/git-draft.adoc
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/toolbox.py
  tests/git_draft/conftest.py
  tests/git_draft/drafter_test.py
  tests/git_draft/toolbox_test.py
Due: poetry-lock, poetry-fix

feat: introduce folio abstraction
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/queries/add-branch.sql
  src/git_draft/queries/add-folio.sql
  src/git_draft/queries/add-prompt.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-branch-by-suffix.sql
  src/git_draft/queries/get-folio-by-id.sql
  src/git_draft/queries/get-latest-folio-prompt.sql
  src/git_draft/queries/get-latest-prompt.sql
  src/git_draft/queries/list-drafts.sql
  src/git_draft/queries/list-folio-prompts.sql
  src/git_draft/queries/list-folios.sql
  src/git_draft/store.py
  tests/git_draft/common_test.py
  tests/git_draft/conftest.py
Due: poetry-fix
