Repository mtth/git-draft: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, poetry-fix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry lock
        entry: poetry lock
        language: system
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
      - id: poetry-fix
        name: poetry fix
        entry: poetry run poe fix
        language: system
        require_serial: true
        types: [python]

fixup! e0e54d7
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/feedback.py
  src/git_draft/progress.py
  tests/git_draft/drafter_test.py
Due: poetry-lock, poetry-fix

fixup! 645052b
  src/git_draft/__main__.py
  src/git_draft/progress.py
Due: poetry-fix

fixup! 8e5a7d0
  src/git_draft/progress.py
Due: poetry-fix

fixup! fcac5ca
  src/git_draft/progress.py
Due: poetry-fix

fixup! e8b13b0
  src/git_draft/events/__init__.py
  src/git_draft/events/common.py
  src/git_draft/events/feedback_events.py
  src/git_draft/events/worktree_events.py
Due: poetry-fix

fixup! ab9eea0
  src/git_draft/progress.py
Due: poetry-fix

feat: support interactive feedback (#97)
  docs/git-draft.adoc
  poetry.lock
  pyproject.toml
  src/git_draft/__init__.py
  src/git_draft/__main__.py
  src/git_draft/bots/__init__.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/events/__init__.py
  src/git_draft/events/common.py
  src/git_draft/events/feedback_events.py
  src/git_draft/events/worktree_events.py
  src/git_draft/progress.py
  src/git_draft/prompt.py
  src/git_draft/prompts/.MACROS.jinja
  src/git_draft/queries/add-action-event.sql
  src/git_draft/queries/add-action-summary.sql
  src/git_draft/queries/add-operation.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-latest-folio-prompt.sql
  src/git_draft/queries/list-folio-prompts.sql
  src/git_draft/queries/list-folios.sql
  src/git_draft/store.py
  src/git_draft/toolbox.py
  src/git_draft/worktrees.py
  tests/git_draft/bots/common_test.py
  tests/git_draft/drafter_test.py
  tests/git_draft/prompt_test.py
  tests/git_draft/work_trees_test.py
Due: poetry-lock, poetry-fix

docs: reorder git examples
  README.md
  docs/git-draft.adoc
Due: none

docs: reorder git examples (#100)
  README.md
  docs/git-draft.adoc
Due: none

refactor: rename docs
  .github/workflows/ci.yaml
  docs/git-draft.1.adoc
Due: none

Notes added by 'git notes edit'
  3fbc8a4a2b2c09b4af6ce0bad16ddd7991b16e9a
Due: none

feat: add list events command
  docs/git-draft.1.adoc
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/events/__init__.py
  src/git_draft/events/common.py
  src/git_draft/events/feedback_events.py
  src/git_draft/events/worktree_events.py
  src/git_draft/progress.py
  src/git_draft/queries/list-action-events.sql
  src/git_draft/worktrees.py
Due: poetry-fix

fixup! a7a1ff5
  pyproject.toml
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/events/__init__.py
  src/git_draft/events/common.py
  src/git_draft/events/feedback_events.py
  src/git_draft/events/worktree_events.py
  src/git_draft/progress.py
  src/git_draft/worktrees.py
Due: poetry-lock, poetry-fix

fixup! 59d6aeb
  src/git_draft/worktrees.py
  tests/git_draft/conftest.py
  tests/git_draft/drafter_test.py
  tests/git_draft/events/__init__.py
  tests/git_draft/events/__init___test.py
  tests/git_draft/worktrees_test.py
Due: poetry-fix

fixup! f8b57ab
  src/git_draft/worktrees.py
  tests/git_draft/worktrees_test.py
Due: poetry-fix

fixup! 3df5e65
  docs/git-draft.1.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

feat: add list events command (#101)
  docs/git-draft.1.adoc
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/events/__init__.py
  src/git_draft/events/common.py
  src/git_draft/events/feedback_events.py
  src/git_draft/events/worktree_events.py
  src/git_draft/progress.py
  src/git_draft/queries/list-action-events.sql
  src/git_draft/worktrees.py
  tests/git_draft/conftest.py
  tests/git_draft/drafter_test.py
  tests/git_draft/events/__init__.py
  tests/git_draft/events/__init___test.py
  tests/git_draft/worktrees_test.py
Due: poetry-lock, poetry-fix

fix(openai): include prior assistant responses in later requests
  src/git_draft/bots/openai.py
  src/git_draft/instructions.py
  src/git_draft/progress.py
Due: poetry-fix

fixup! ab40801
  src/git_draft/bots/openai.py
  src/git_draft/progress.py
Due: poetry-fix

fixup! 9a237c7
  src/git_draft/instructions.py
Due: poetry-fix

fix(openai): include prior assistant responses in later requests (#102)
  src/git_draft/bots/openai.py
  src/git_draft/instructions.py
  src/git_draft/progress.py
Due: poetry-fix

refactor: restructure OpenAPI bot
  src/git_draft/bots/__init__.py
  src/git_draft/bots/openai.py
  src/git_draft/bots/openai_api/__init__.py
  src/git_draft/bots/openai_api/assistants.py
  src/git_draft/bots/openai_api/common.py
  src/git_draft/bots/openai_api/completions.py
  src/git_draft/common.py
Due: poetry-fix

fixup! 99f87db
  tests/git_draft/common_test.py
Due: poetry-fix

refactor: restructure OpenAPI bot (#103)
  src/git_draft/bots/__init__.py
  src/git_draft/bots/openai.py
  src/git_draft/bots/openai_api/__init__.py
  src/git_draft/bots/openai_api/assistants.py
  src/git_draft/bots/openai_api/common.py
  src/git_draft/bots/openai_api/completions.py
  src/git_draft/common.py
  tests/git_draft/common_test.py
Due: poetry-fix

refactor: rename OpenAI bot factories
  src/git_draft/bots/openai_api/assistants.py
  src/git_draft/bots/openai_api/completions.py
Due: poetry-fix

feat: add Claude Code bot
  poetry.lock
  pyproject.toml
  src/git_draft/bots/claude_code.py
Due: poetry-lock, poetry-fix

fixup! 7e57ca3
  src/git_draft/bots/openai_api/__init__.py
Due: poetry-fix

fixup! 1b61d19
  src/git_draft/bots/__init__.py
Due: poetry-fix

refactor: rename OpenAI bot factories (#104)
  src/git_draft/bots/__init__.py
  src/git_draft/bots/openai_api/__init__.py
  src/git_draft/bots/openai_api/assistants.py
  src/git_draft/bots/openai_api/completions.py
Due: poetry-fix

fixup! da3656b
  src/git_draft/bots/claude_code.py
Due: poetry-fix

fixup! f853f8a
  src/git_draft/bots/claude_code.py
  src/git_draft/bots/openai_api/__init__.py
  src/git_draft/bots/openai_api/assistants.py
  src/git_draft/bots/openai_api/responses.py
Due: poetry-fix

fixup! 9af7d32
  src/git_draft/bots/claude_code.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai_api/assistants.py
  src/git_draft/bots/openai_api/common.py
  src/git_draft/bots/openai_api/completions.py
  src/git_draft/drafter.py
  src/git_draft/progress.py
  src/git_draft/queries/add-action-summary.sql
  src/git_draft/queries/create-tables.sql
  tests/git_draft/bots/common_test.py
Due: poetry-fix

fixup! 5760a1b
  src/git_draft/bots/claude_code.py
Due: poetry-fix

fixup! 09900ee
  src/git_draft/bots/claude_code.py
  src/git_draft/bots/common.py
Due: poetry-fix

feat: add Claude Code bot (#105)
  poetry.lock
  pyproject.toml
  src/git_draft/bots/claude_code.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai_api/__init__.py
  src/git_draft/bots/openai_api/assistants.py
  src/git_draft/bots/openai_api/common.py
  src/git_draft/bots/openai_api/completions.py
  src/git_draft/bots/openai_api/responses.py
  src/git_draft/drafter.py
  src/git_draft/progress.py
  src/git_draft/queries/add-action-summary.sql
  src/git_draft/queries/create-tables.sql
  tests/git_draft/bots/common_test.py
Due: poetry-lock, poetry-fix

test: add claude code bot test
  tests/git_draft/bots/claude_code_test.py
Due: poetry-fix

feat(claude-code): populate commit message
  poetry.lock
  pyproject.toml
  src/git_draft/bots/claude_code.py
  src/git_draft/bots/common.py
  src/git_draft/drafter.py
Due: poetry-lock, poetry-fix

feat(claude-code): customize commit message (#107)
  poetry.lock
  pyproject.toml
  src/git_draft/bots/claude_code.py
  src/git_draft/bots/common.py
  src/git_draft/drafter.py
Due: poetry-lock, poetry-fix
