Repository mtth/git-draft: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, poetry-fix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry lock
        entry: poetry lock
        language: system
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
      - id: poetry-fix
        name: poetry fix
        entry: poetry run poe fix
        language: system
        require_serial: true
        types: [python]

Notes added by 'git notes edit'
  a2971bdf4638c1f425b247e8037534edf669bf70
Due: none

Notes added by 'git notes edit'
  3fbc8a4a2b2c09b4af6ce0bad16ddd7991b16e9a
Due: none

Notes added by 'git notes edit'
  ce4ff075b7d19fc96053e59cb2fce14208bb6fc6
Due: none

Notes added by 'git notes edit'
  9a6ab582ac1696b939769517f12c433e5f1f49b8
Due: none

feat: support interactive feedback
  docs/git-draft.adoc
  src/git_draft/__init__.py
  src/git_draft/__main__.py
  src/git_draft/bots/__init__.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
  src/git_draft/prompts/.MACROS.jinja
  src/git_draft/queries/add-action.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-latest-folio-prompt.sql
  src/git_draft/store.py
  src/git_draft/user_feedbacks.py
  src/git_draft/worktrees.py
  tests/git_draft/drafter_test.py
  tests/git_draft/prompt_test.py
  tests/git_draft/work_trees_test.py
Due: poetry-fix

fixup! e741487
  poetry.lock
  pyproject.toml
  src/git_draft/__init__.py
  src/git_draft/__main__.py
  src/git_draft/bots/__init__.py
  src/git_draft/bots/common.py
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/events/__init__.py
  src/git_draft/events/common.py
  src/git_draft/events/feedback_events.py
  src/git_draft/events/worktree_events.py
  src/git_draft/feedback.py
  src/git_draft/queries/add-action-event.sql
  src/git_draft/queries/add-action-summary.sql
  src/git_draft/queries/add-operation.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-latest-folio-prompt.sql
  src/git_draft/queries/list-folio-prompts.sql
  src/git_draft/queries/list-folios.sql
  src/git_draft/store.py
  src/git_draft/worktrees.py
  tests/git_draft/bots/common_test.py
  tests/git_draft/drafter_test.py
Due: poetry-lock, poetry-fix

fixup! 5f445fe
  src/git_draft/events/__init__.py
Due: poetry-fix

fixup! 6a65e26
  src/git_draft/events/__init__.py
  src/git_draft/events/common.py
  src/git_draft/events/feedback_events.py
  src/git_draft/events/worktree_events.py
Due: poetry-fix

fixup! d8b96bf
  src/git_draft/events/__init__.py
  src/git_draft/events/common.py
Due: poetry-fix
