Repository mtth/git-draft: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, poetry-fix

poetry-lock:
  name: poetry lock
  entry: poetry lock
  language: system
  pass_filenames: false

poetry-fix:
  name: poetry fix
  entry: poetry run poe fix
  language: system
  require_serial: true

fixup! feat: introduce folio abstraction
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/queries/add-prompt.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-folio-by-id.sql
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: introduce folio abstraction
  src/git_draft/drafter.py
  src/git_draft/git.py
Due: poetry-fix

fixup! feat: introduce folio abstraction
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/toolbox.py
Due: poetry-fix

fixup! feat: introduce folio abstraction
  docs/git-draft.adoc
  src/git_draft/__init__.py
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/queries/add-folio.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-folio-by-id.sql
  src/git_draft/toolbox.py
  tests/git_draft/conftest.py
  tests/git_draft/drafter_test.py
  tests/git_draft/prompt_test.py
  tests/git_draft/toolbox_test.py
Due: poetry-fix

fixup! feat: introduce folio abstraction
  src/git_draft/__main__.py
  src/git_draft/drafter.py
Due: poetry-fix

fixup! feat: introduce folio abstraction
  docs/git-draft.adoc
  src/git_draft/drafter.py
  src/git_draft/toolbox.py
Due: poetry-fix

feat: introduce folio abstraction (#67)
  docs/git-draft.adoc
  src/git_draft/__init__.py
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/queries/add-branch.sql
  src/git_draft/queries/add-folio.sql
  src/git_draft/queries/add-prompt.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-branch-by-suffix.sql
  src/git_draft/queries/get-folio-by-id.sql
  src/git_draft/queries/get-latest-folio-prompt.sql
  src/git_draft/queries/get-latest-prompt.sql
  src/git_draft/queries/list-drafts.sql
  src/git_draft/queries/list-folio-prompts.sql
  src/git_draft/queries/list-folios.sql
  src/git_draft/store.py
  src/git_draft/toolbox.py
  tests/git_draft/common_test.py
  tests/git_draft/conftest.py
  tests/git_draft/drafter_test.py
  tests/git_draft/prompt_test.py
  tests/git_draft/toolbox_test.py
Due: poetry-fix

feat: support setting default bot per repo
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  src/git_draft/git.py
Due: poetry-fix

fixup! feat: support setting default bot per repo
  tests/git_draft/drafter_test.py
Due: poetry-fix

feat: support setting default bot per repo (#68)
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

feat: skip branch creation on prompt failure
  src/git_draft/drafter.py
Due: poetry-fix

feat: skip branch creation on prompt failure (#69)
  src/git_draft/drafter.py
Due: poetry-fix

feat: improve merge behavior
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/bots/common.py
  src/git_draft/drafter.py
  src/git_draft/queries/add-action.sql
  src/git_draft/queries/create-tables.sql
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: improve merge behavior
  src/git_draft/__main__.py
  src/git_draft/drafter.py
Due: poetry-fix

fixup! feat: improve merge behavior
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

feat: improve merge behavior (#70)
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/bots/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  src/git_draft/queries/add-action.sql
  src/git_draft/queries/create-tables.sql
  tests/git_draft/drafter_test.py
Due: poetry-fix

fix: include all changes in initial toolbox tree
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  src/git_draft/toolbox.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! fix: include all changes in initial toolbox tree
  src/git_draft/toolbox.py
Due: poetry-fix

feat: rename flags (#71)
  docs/git-draft.adoc
  src/git_draft/__main__.py
  src/git_draft/drafter.py
  src/git_draft/toolbox.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fix: improve placeholder prompt detection
  README.md
  src/git_draft/__main__.py
  src/git_draft/drafter.py
Due: poetry-fix

fix: improve placeholder prompt detection (#72)
  README.md
  src/git_draft/__main__.py
  src/git_draft/drafter.py
Due: poetry-fix

ci: add dependabot config
  .github/dependabot.yml
Due: none

ci: add dependabot config (#74)
  .github/dependabot.yml
Due: none

ci: update dependabot field
  .github/dependabot.yml
Due: none

ci: update dependabot PR labels
  .github/dependabot.yml
Due: none

ci: ignore patch and minor dependabot updates
  .github/dependabot.yml
Due: none

feat: enable first-class user feedback
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
Due: poetry-lock, poetry-fix

fixup! feat: enable first-class user feedback
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: enable first-class user feedback
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  tests/git_draft/drafter_test.py
Due: poetry-fix

fixup! feat: enable first-class user feedback
  src/git_draft/common.py
  src/git_draft/drafter.py
Due: poetry-fix

fixup! feat: enable first-class user feedback
  src/git_draft/common.py
Due: poetry-fix

fixup! feat: enable first-class user feedback
  src/git_draft/drafter.py
Due: poetry-fix

feat: enable first-class user feedback (#79)
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/git.py
  tests/git_draft/drafter_test.py
Due: poetry-lock, poetry-fix

feat: support requesting more information
  README.md
  src/git_draft/bots/common.py
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  src/git_draft/drafter.py
Due: poetry-fix

fixup! feat: support requesting more information
  src/git_draft/__main__.py
  src/git_draft/bots/openai.py
Due: poetry-fix

fixup! feat: support requesting more information
  src/git_draft/__main__.py
  src/git_draft/drafter.py
Due: poetry-fix

fixup! feat: support requesting more information
  src/git_draft/drafter.py
  src/git_draft/queries/add-action.sql
  src/git_draft/queries/add-operation.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/list-folio-prompts.sql
  src/git_draft/store.py
Due: poetry-fix

fixup! feat: support requesting more information
  docs/git-draft.adoc
  poetry.lock
  pyproject.toml
  src/git_draft/__main__.py
  src/git_draft/bots/openai.py
  src/git_draft/common.py
  src/git_draft/drafter.py
  src/git_draft/prompt.py
  src/git_draft/prompts/.LAYOUTS/docopt.jinja
  src/git_draft/prompts/.MACROS.jinja
  src/git_draft/prompts/add-docstrings.jinja
  src/git_draft/prompts/add-test.jinja
  src/git_draft/prompts/includes/.file-list.jinja
  src/git_draft/queries/add-action.sql
  src/git_draft/queries/create-tables.sql
  src/git_draft/queries/get-latest-folio-prompt.sql
  src/git_draft/toolbox.py
  tests/git_draft/common_test.py
  tests/git_draft/prompt_test.py
Due: poetry-lock, poetry-fix

Path conditions:
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  poetry-fix: any of: \.py$
